@use "variables";
@use "reset";

body {
  font-family: variables.$main-font;
  background-color: variables.$bg-color;
  color: variables.$text-color;
  margin: 0;
  padding: 0;
}

header {
  background-color: variables.$header-bg-color;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li:first-child {
  margin-right: auto;
}

nav a {
  color: variables.$link-color;
  text-decoration: none;
  margin: 0 10px;
}

.Intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Intro img {
  width: 30%;
  height: 300px;
  margin-top: 20px;
}

.Intro h1 {
  max-width: 50%;
}

.about {
  padding: 50px;
  text-align: center;
}

.technical-skills {
  padding: 50px;
  background-color: #f4f4f4;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;

    li {
      background: #9acbd0;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}

.projects {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }

  .project {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    img {
      width: 100%;
      border-radius: 5px;
    }

    h3 {
      margin: 10px 0;
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      color: #666;
    }

    a {
      display: inline-block;
      margin-top: auto;
      padding: 8px 15px;
      background: #333;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }

    a:hover {
      background: #555;
    }
  }
}

footer {
  background-color: variables.$footer-bg-color;
  padding: 20px;
}

footer ul {
  display: flex;
  list-style-type: none;
  color: #fff;
}

footer ul li:first-child {
  margin-right: auto;
}

footer ul li:not(:first-child) {
  padding: 0;
  margin: 0 10px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li:not(:first-child) {
    display: none;
  }

  .hero {
    padding: 30px;
  }

  @media (max-width: 768px) {
    .Intro img {
      display: none;
    }
  }
}
